@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    height: 100vh;
    background: linear-gradient(45deg, #4C3F91, #9145B6, #B958A5, #FF5677);
    background-size: 400% 400%;
    animation: colors 15s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes colors{
    0%{
      background-position: 0 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0 50%;
    }
}
.clock {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.5);
}
.clock div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(5, 5, 5, 0.9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    letter-spacing: 3px;
}

.clock span {
    font-weight: bolder;
    font-size: 60px;
}
.clock span.time {
    font-size: 13px;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: rgba(5, 5, 5, 0.9);
    color: #fff;
    font-weight: bolder;
    align-items: center;
    display: flex;
 }